.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 65px;
  color: orange;
}

.link {
  display: flex;
  flex-direction: column;
  padding: 2px;
  font-size: 16px;
  color: #505050;
  transition: color 0.15s ease-in-out;
}

.link:hover {
  color: white;
}

.navbar {
  display: flex;
  min-height: 64px;
}

.homeItem {
  width: 10%;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding-left: 2%;
  color: orange;
  font-size: 20px;
  cursor: pointer;
}

.navItems {
  font-size: 14px;
  display: flex;
  width: 90%;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
